<div class="wrapper">
  <div class="overlay" *ngIf="type" (click)="cancel()"></div>
  <content class="popup">
    <section class="item" *ngIf="type === 'item'">
      <h1>New Item</h1>
      <p class="input">
        <label for="name">Name:</label><input id="name" type="text">
      </p>
      <p class="input">
        <label for="unit">Unit: </label><input type="text" id="unit">
      </p>
      <p class="input">
        <span class="input-max">
          <label for="max">Max: </label><input type="number" id="max">
        </span>
        <span class="input-min">
          <label for="min">Min: </label><input type="number" id="min">
        </span>
      </p>
      <p class="input custom-input">
        <label for="">Category:</label>
        <span class="category-input" (click)="selectCategory()">Select Category</span>
      </p>
    </section>

    <section class="category" *ngIf="type === 'category'">
      <h1>New category</h1>
      <p class="input">
        <label for="name">Name:</label><input id="name" type="text">
      </p>
      <p class="input custom-input">
        <label for="">Section:</label>
        <span class="section-input" (click)="selectSection()">Select Section</span>
      </p>
    </section>

    <section class="section" *ngIf="type === 'section'">
      <h1>New Section</h1>
      <p class="input">
        <label>Name:</label>
        <input type="text"/>
      </p>
    </section>

    <nav class="buttons">
      <button class="button" (click)="addNew()">Save</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </nav>
  </content>
</div>