/* You can add global styles to this file, and also import other style files */
.button {
    padding: 5px;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    color: rgb(220, 220, 220);
}