<div *ngIf="isShown">
  <div class="wrapper" *ngFor="let item of items">
    <img class="complete-box"/>
    <content>
      <img class="thumbnail"/>
      <div class="item-details">
        <h1 class="title">{{item.name}}</h1>
        <p>Unit: {{item.unit}}</p>
        <form>
          <label for="currentAmount">Amount: </label>
          <input id="currentAmount" 
            name="currentAmount" 
            type="number" 
            placeholder="{{item.currentAmount}}" 
            [(ngModel)]="item.currentAmount">
        </form>
      </div>
    </content>
  </div>
</div>