.wrapper {
    width: 100%;
    position: relative;
}
img.complete-box {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgb(100, 100, 100);
}
img.thumbnail {
    width: 100px;
    height: 100px;
    background-color: rgb(150, 150, 150);
}
content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
}
.item-details {
    flex-grow: 1;
    margin: 0;
    padding: 0 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: space-between;
}
h1, p {
    text-transform: uppercase;
}
h1.title {
    padding: 10 0;
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
}
p {
    padding: 5 0;
    margin: 0;
    font-size: 1em;
}
button {
    width: 150px;
    height: 35px;
    background-color: rgb(102, 102, 102);
    color: rgb(224, 224, 224);
    border-radius: 8px;
    text-transform: uppercase;
}