.background {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 99;
}
.overlay {
    width: 15vw;
    height: 100%;
    position: absolute;
    left: 85vw;
    background-color: rgba(0, 0, 0, 0.5);
}
.wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 85vw;
    height: 100%;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    width: 100%;
    height: 10vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}
.side-menu-navigation {
    list-style-type: none;
    background-color: rgb(220,220,220);
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}
.button-wrapper {
    height: 15vh;
}
