<div class="background" 
    [@sideMenuState]='sideMenuState'>

  <div class="overlay" (click)="toggleSideMenu()"></div>

  <div class="wrapper">
    <header>
      <p class="title">STOCKTAKER</p>
    </header>
    <nav class="side-menu-navigation">
      <a routerLink="/dashboard" (click)="toggleSideMenu()">DASHBOARD</a>
      <a routerLink="/stock-setup" (click)="toggleSideMenu()">STOCK SETUP</a>
    </nav>
    <div class="button-wrapper">
      <div class="side-menu-button">
        <a routerLink="/stock-take" (click)="toggleSideMenu()" class="side-menu-button-text">STOCKTAKE</a>
      </div>
    </div>
  </div>

</div>
